* {
    margin: 0;
    padding: 0;

}

.wrapper {
    width: 100%;

}

.img-banner {
    display: none;
}

.img-info {
    width: 100%;
}

.img-info h2 {
    display: inline-block;
    padding: 20px 8px 10px;
    font-family: 'Acme', sans-serif;
    font-family: 'Anton', sans-serif;
    float: left;
    font-size: 30px;
    color: rgb(3, 3, 3);
    text-shadow: 2px 2px 5px red;
    line-height: 44px;

}

.date {
    float: left;
    display: inline-block;
}

#blog-image {
    width: 100%;
    padding: 40px;
    background-color: goldenrod;
    border: 2px dotted rgb(12, 12, 12);
    object-fit: cover;
}


.img-info p {
    padding: 60px 45px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: rgb(2, 2, 2);
    font-family: 'Gruppo', cursive;
    line-height: 20px;
    margin-bottom: 0;

}

.contact-me a {
    font-size: 20px;
    color: black;
}



.contact-header {
    text-align: right;
    display: inline-block;
    width: 100%;
    padding: 25px 0px 20px 15px;
}

.contact-header i {
    color: black;
}

.about-link {
    color: black;
    font-size: 22px;
    float: left;
    padding-left: 10px;
    font-family: 'Anton', sans-serif;
}

.projects-link {
    color: black;
    font-size: 22px;
    float: left;
    padding-left: 10px;
    font-family: 'Anton', sans-serif;
}

.blog-link {
    color: black;
    font-size: 22px;
    float: left;
    padding-left: 10px;
    font-family: 'Anton', sans-serif;
}


footer {
    text-align: center;
    color: gray;
}





@media only screen and (min-width: 768px) {
    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }

    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 20px 98px 0px;



    }

    .img-info p {
        padding: 20px 100px 0px;
        font-size: 19px;

    }

    .about-link {
        font-size: 32px;
        position: relative;
        top: -22px;


    }

    .projects-link {
        color: black;
        font-size: 32px;
        float: left;
        padding-left: 15px;
        font-family: 'Anton', sans-serif;
        position: relative;
        top: -22px;
    }

    .blog-link {
        color: black;
        font-size: 32px;
        float: left;
        padding-left: 18px;
        font-family: 'Anton', sans-serif;
        position: relative;
        top: -22px;
    }

    .contact-header {
        width: 100%;
        padding: 0px 80px 30px 0px;
        font-size: 20px;

    }


    .contact-me a {
        font-size: 24px;
        color: black;
    }





}

@media only screen and (min-width: 1000px) {


    .img-banner {
        height: 300px;
        object-fit: cover;
    }


    .img-info p {
        padding: 20px 100px 15px;
        font-size: 19px;

    }


    .img-info h2 {
        padding: 20px 98px 0px;
    }

    #projects-header {
        padding-left: 200px;
    }

    .contact-header {
        font-size: 24px
    }

}