* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.img-banner {
    display: none;
}
.img-info  {
    width: 100%;
}
.img-info h2 {
    display: inline-block;
    padding: 30px 45px 20px;
    font-family: Arial;
    font-size: 50px;
    color: gray;
    line-height: 44px;

}
.img-info p {
    padding: 0px 20px 20px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    line-height: 20px;
    margin-bottom: 0;

}

.img-me {
    width: 100%;
    padding-left: 10px;
}


.img-title {
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    color: green
}

.icon_group {
    padding: 0px 68px 20px;
}

.contact-me  a {
    font-size: 20px;
    color: black;
}

.app-links i {
    color: red;
    font-size: 26;
}


.contact-header {
    text-align: right;
    display: inline-block;
    width: 100%;
    padding: 25px 0px 20px 15px;
}

.contact-header i {
    color: black;
}

.about-link {
    color: black;
    font-size: 22px;
    float: left;
    padding-left: 10px;
    font-family: 'Anton', sans-serif;
}

.projects-link {
    color: black;
    font-size: 22px;
    float: left;
    padding-left: 10px;
    font-family: 'Anton', sans-serif;
}

.content {
    text-align: center;
    color: gray;
}

.content h4 {
    color: rgb(5, 5, 5);
    font-style: italic;
    
}

.img-content {
    width: 100%;
    padding-left: 10px;
}

#more-btn {
    line-height: 14px;
    padding-left: 10px;
}

.tech-group .techicon {
    height: 20px;
}

footer {
    text-align: center;
    color: gray;
}





@media only screen and (min-width: 768px) {
    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }

    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 20px 98px 0px;
        

    
    }
    .img-info p {
        padding: 20px 100px 0px;
        font-size: 19px;
    
    }

    .img-me {
        padding-top: 30px;
    }


    .img-title {
        width: 100%;
    }

    .about-link {
        font-size: 32px;
        padding-left: 90px;
        position: relative;
        top: -22px;
        
       
    }

    .projects-link {
        color: black;
        font-size: 32px;
        float: left;
        padding-left: 18px;
        font-family: 'Anton', sans-serif;
        position: relative;
        top: -22px;
    }

    .contact-header {
        width: 100%;
        padding: 0px 80px 30px 0px;
        font-size:20px;

    }

    .content {
        font-size: 22px;
        padding-bottom: 20px;
    }
    
    .content h4 {
        color: rgb(5, 5, 5);
        font-style: italic;
        
    }

    .img-content {
        padding-top: 30px;
    }

    #more-btn {
        line-height: 20px;
        padding: 8px 55px;
    }

    .tech-group .techicon {
        height: 30px;
    }

    .icon_group {
        padding: 0px 105px 20px;
    }

    .contact-me  a {
        font-size: 24px;
        color: black;
    }

    .app-links i {
        color: red;
        font-size: 24;
    }

    

}

@media only screen and (min-width: 1000px) {


    .img-banner {
        height: 300px;
    }


    .img-info p {
        padding: 20px 100px 15px;
        font-size: 19px;
    
    }


    .img-me {
        padding: 0;
        border: 2px solid black;
    }

    .img-info h2 {
        padding: 20px 98px 0px;
    }

    #projects-header{
        padding-left: 200px;
    }
  
    #more-btn {
        display: none;
    }

    .contact-header {
        font-size: 24px

    }
  
}